torch
pandas
matplotlib
numpy
scipy
scikit-learn
torchvision
timm
tensorboard
jupyter
Pillow
loguru
argparse
opencv-python
huggingface-hub
huggingface-hub[cli]
datasets[vision]
transformers
split-folders
gpytorch
botorch

# after pip install -r requirements.txt
# do
# sudo apt update
# sudo apt full-upgrade
# sudo apt install libgl1-mesa-glx
