torch
pandas
matplotlib
numpy
scipy
scikit-learn
torchvision
timm
tensorboard
jupyter
Pillow
loguru
argparse
opencv-python
huggingface-hub
huggingface-hub[cli]
datasets[vision]
transformers
split-folders